@import '../../styles/mixin.scss';

.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
    position: relative;
    .links{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 28px;
        li{
            list-style: none;
            width: 100%;
            padding: 8px 0;
            @include min-width(sm){
                width: 50%;
            }
            @include min-width(lg){
                width: 25%;
            }
            .link{
                text-decoration: none;
                color: grey;
            }
        }
    }

    .copyright{
        color: grey;
        font-size: 0.8em;
    }
    
}